/* line 2, /Users/brent/Projects/nancyleungcouture.com.au/source/css/friends.css.sass */
.friends.content h2 {
  font-size: 1.2em; }
/* line 5, /Users/brent/Projects/nancyleungcouture.com.au/source/css/friends.css.sass */
.friends.content a.friend {
  display: block;
  margin: 0 0 1.8em 0; }
