---
dress_name: amber
title: Amber Wedding Dress
image: /img/wedding-dresses/amber/1/small.jpg
---

%p
  She is a bashful yet curious little soul, quietly skipping along,…. Until she spots you then stops you in your tracks with a beaming smile.

%p
  The neckline is cut straight across, showing off a gorgeous ‘Oscar De La Renta’ guipure lace bodice. The elegant bodice sits just above the hips as individual floral motifs scatter lightly onto the drape and down the folds of the skirt. Amber is light as air with an A-line silk organza skirt. The organza skirt is softly draped to create a mock peplum, giving depth to a light airy fabric.

