---
dress_name: audrey
---

%p
  Audrey is as effortless in her playful whimsy, as she is hypnotic with her quiet inner strength.

%p
  Audrey features a figure hugging, strapless long line bodice with a pretty guipure floral lace. Delicate 3 dimensional lace hover atop the tulle fishtail skirt, ready to take flight. A sweetheart neckline frames the face, letting the all-over lace take centre stage.