---
dress_name: emily
---

%p
  Emily, ever the little lady, destined to be in the spotlight. She is the quintessential fairy tale princess.

%p
  The sweetheart neckline and hand beaded cap sleeves frames the face beautifully. The longer line bodice and cap sleeves feature a beaded embroidered lace, with white glass seed beads, silky beads and clear Swarovski crystals. The full skirt is made up of layers upon layers of tulle, with a set of in-built medium nets to add volume. A true princess dress.