---
title: Wedding Dresses
name: wedding-dresses
layout: layout
---

.dresses
  - dresses.each do |dress|
    = link_to dress.url, :class => "dress" do
      = image_tag dress.small_images.first, :alt => dress.alt, :title => dress.alt
