---
dress_name: indiana
---

%p
  Her allure is always intriguing, so soft and pretty. Showered with delicate blossoms, Indiana evokes the spring.

%p
  Indiana has a sweetheart neckline and soft silky tulle ruching on the bodice. Off-white embroidered flowers are layered upon each other to create a 3 dimensional effect, giving texture to a soft feminine silhouette. The embroidered flowers trail to the back of the gown, ensuring the back view is just as lovely as the front.