---
dress_name: jamie-lee
---

%p
  Jamie is pure glamour. When Jamie walks by, she captivates everybody’s attention. Sophisticated and statuesque.

%p
  Jamie’s long line strapless bodice is ruched, the design lines enhance the natural curves of a woman’s figure. A sparkle of hand beaded crystals and diamontes around the sweetheart neckline draw the eyes upward, elongating the figure. The gentle mermaid skirt is a soft silky tulle.