---
name: jessica
---

%p
  Modern day princess, she is confident and self-assured. Always the life of the party.

%p
  The ball gown skirt of the Jessica is made up of layers of net and tulle to give the dress full volume. The intricate floral beaded design of the bodice drips onto the skirt, creating a magical floral motif. The ruching on the bodice follows along the sweetheart neckline, framing the face and providing a graceful backdrop to the beading. Dainty tulle flowers are dotted around the beaded waisted bodice.