---
name: kate
layout: dress
---

%p
  Dazzles everyone with her fun and youthful sparkle. She is the ingenue that we would all love to know.

%p
  The gathered grecian skirt of the Kate is slinky yet moves dramatically with every step. The ruched sweetheart bodice features exquisite hand beading using Chrystal diamontes, glass seed beads and cup chain diamontes.