---
name: kaya
---

%p
  Uniquely modern and in part inspired by Napolean’s Josephine, Kaya’s regal confidence charms the room.

%p
  The neckline of the Kaya is cut straight across, allowing the delicate beading and the lace border to shine. Dainty hand beaded flowers dot the waisted bodice against a backdrop of ruched silky tulle. The silky tulle skirt is a vision, with effortless romantic side drapes cascading all the way down to the hem.