---
dress_name: kirsten
---

%p
  She is a free spirit, at one with Mother Earth. Her unique energy brightens the room, bringing an air of serenity.

%p
  Kirsten has a unique vintage inspired racer back style that wraps around to the front into a V-neck bodice. The bodice of the Kirsten features ruching and vintage 20′s inspired hand beading. The waistline is mirrored by the handkerchief hem, flowing down into a gathered slinky skirt. The hand beading is complimented by the ruched bodice.