---
dress_name: lorelei
title: Lorelei Wedding Dress
image: /img/wedding-dresses/lorelei/1/small.jpg
---

%p
  Her delicate twinkle will catch the light and draw you in, timeless and innocent Lorelei will leave a lasting impression.

%p
  The Lorelei features Aurora Borealis beads, which are softened against creamy Swarovski pearl beads. The sweetheart bodice is ruched, creating an elegant and subtle backdrop for the delicate beading. This youthful wedding dress also has an optional beaded belt, perfect for girls who like that extra twinkle. The full grecian style skirt flows gently from the hipline.