---
dress_name: natalie
title: Natalie Wedding Dress
image: /img/wedding-dresses/natalie/1/small.jpg
---

%p
  Fresh and simple,…at first glance the graceful curves of Natalie belies an intriguing mix of modern yet old world charm.

%p
  Natalie is a strapless gown with a longer body line sitting over the hips, sweetheart neckline and alluring twisted ruching on the bodice. The silk georgette slinky skirt falls like a dream and glides with every step. This gown is graceful and elegant in its simplicity, worn with a matching beaded belt for extra sparkle.