---
name: tallulah
layout: dress
---
%p
  Tallulah is reminiscing of the 20′s era.With a youthful sophistication and cheeky smile, she’s the girl dancing all night long.

%p
  This vintage inspired wedding gown features an English lace embroidered with silver & white. The ruched sweetheart bodice is highlighted with lace, crystal and glass beads. Silky tulle straps with diamontes bows are an optional addition. The figure hugging skirt softly flares out to a trumpet shape, which has two tulle splits just below the knees. A top these two splits are matching diamonte bows. A cute satin bow belt completes Tallulah’s look.