---
title: About Nancy
name: about
---

%h1 About Nancy

.page-body
  = image_tag 'About.jpg', :class => 'banner'

  %p
    Nancy Leung Couture specialises in made-to-measure couture bridal gowns, bridal parties and special occasion wear. Our signature styles are elegantly glamorous and exquisitely detailed. As each gown is handmade in our studio to our clients’ specific measurements, anything is possible. We also like breaking the mold with custom designed gowns. Ideally we like to have 6-10 months from the wedding day to make your dress as couture takes time and attention to detail.

  %p
    Nancy Leung Couture maintains the ethos, “Produce locally made and designed Couture gowns (Bridal and special occasion) within a warm, down-to-earth and collaborative environment. We believe every girl no matter what age, background or social circles deserves to experience the pleasure of having a couture gown made for her, on her special day.”

  %p
    The Designer Nancy Leung has had over 10 years experience in garment construction, pattern making and design. She has a Bachelor of fashion design, Certificate IV in small business management and is also certified in makeup application.



