%meta{:name => 'og:locale', :content => 'en_US'}
%meta{:name => 'og:title', :content => title }
%meta{:name => 'og:description', :content => description }
%meta{:name => 'og:url', :content => canonical_url}
%meta{:name => 'og:site_name', :content => 'Nancy Leung Couture'}
%meta{:name => 'og:type', :content => 'website'}
%meta{:name => 'og:image', :content => image }
