---
title: Friends
name: friends
---

%h1 Friends

.page-body
  %p

    Nancy Leung Couture has been supported by some very special people and we would especially like to thank the following:

  %h2='Roger Thompson Photography'
  %p
    Roger is responsible for the stunning images that grace our site. His professionalism and attention to detail show through in the results of our 1st collection.
  =link_to 'http://www.rogertphoto.com.au', 'http://www.rogertphoto.com.au', :class => 'friend'

  %h2='Jamie Lee Phillips'
  %p
    Jamie has been the muse of Nancy Leung Couture and as the feature model in our very 1st collection. We are so very appreciative of all the support, guidance and advice that Jamie has provided along the way.

  %h2='D’Artanian Dior @ Mieka Hairdressing'
  %p
    The talented and award winning hair stylist and educator D’Artanian Dior, created and styled the look of our feature shoot.

  %h2='The Wednesday Experiment'
  %p
    We were very lucky to have The Wednesday Experiment play at our launch. Peter and Emily provided a wonderful backdrop for our evening and we will be forever grateful for their support.
  =link_to 'http://www.thewednesdayexperiment.com', 'http://www.thewednesdayexperiment.com', :class => 'friend'

  %h2='Holographic Cocoon'
  %p
    We were introduced to Bethany Reeves at our launch and fell in love with her beautiful music and playful lyrics. We appreciate her support and the opportunity to hear her play her amazing music on the night.
  =link_to 'https://soundcloud.com/holographic-cocoon', 'https://soundcloud.com/holographic-cocoon', :class => 'friend'
